*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    width: 100%;
    height: 10%;
    padding: 2%;
    background-color:  #001f4d;
    color: #CCE0FF;
    font-size: medium;
    justify-content: center;
    text-align: center;
}
main {
    width: 100%;
    min-height: 100vh;
    background-color: #ccffeb;
}
#navbar {
    background-color: #FFD799;
}
.container {
    margin-top: 5%;
    border-radius: 5px;
    border: 10px solid white;
    padding: 30px;
    background-color: #FFCCFA;
    width: 600px;
}
.header {
    padding: 2px 2px;
    margin: 0px;
}
#name, #message {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#important {
    width: auto;
}
hr {
    height: 2px;
    border: none;
    background-color: white;
}
button, #reset {
    padding: 5px;
    border: solid white;
    border-radius: 10px;
    background-color: #ffebcc;
}
footer {
    display: flex;
    margin-top: auto;
    width: 100%;
    height: 5%;
    padding: 2%;
    background-color:  #001f4d;
    color: #CCE0FF;
    font-size: medium;
    justify-content: center;
    text-align: center;
}
@media (max-width: 640px) {
    .container {
        max-width: 300px;
        margin: auto;
    }
}